<%= form_with(model: file_to_update, local: true) do |form| %>
  <% if file_to_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_to_update.errors.count, "error") %> prohibited this file_to_update from being saved:</h2>

      <ul>
      <% file_to_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file %>
  </div>

  <div class="field">
    <%= form.label :file_package_id %>
    <%= form.number_field :file_package_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
