<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @access_point.mac %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @access_point.ip %>
</p>

<p>
  <strong>Status:</strong>
  <%= @access_point.status %>
</p>

<p>
  <strong>Token:</strong>
  <%= @access_point.token %>
</p>

<p>
  <strong>Last message:</strong>
  <%= @access_point.last_message %>
</p>

<%= link_to 'Edit', edit_access_point_path(@access_point) %> |
<%= link_to 'Back', access_points_path %>
