<!DOCTYPE html>
<html>
  <head>
    <title>Zapo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Zapo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="nav justify-content-end">
        <% if user_signed_in? %>
          <li>
            <span style="display:inline-block; width: 90px;"><%= link_to('Edit User', edit_user_registration_path) %></span>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
